<form class="form" action="/movies/updatemovie" method="POST">
  <div class="voltar">
    <a href="/movies" class="btn-back">Voltar</a>
  </div>
  <h1>Edite o seu filme:</h1>
  <input type="hidden" name="id" value="{{movie.id}}">
  <div class="form-group">
    <input type="text" name="title" id="title" required placeholder=" " value="{{movie.title}}" />
    <label for="title">Título do filme</label>
  </div>
  <div class="form-group">
    <input type="text" name="director" id="director" required placeholder=" " value="{{movie.director}}" />
    <label for="director">Diretor</label>
  </div>
  <div class="form-group">
    <input type="number" name="year" id="year" required placeholder=" " value="{{movie.year}}" />
    <label for="year">Ano de lançamento</label>
  </div>
  <div class="form-group">
    <input type="text" name="genre" id="genre" required placeholder=" " value="{{movie.genre}}" />
    <label for="genre">Gênero</label>
  </div>
  <div class="form-group">
    <input type="number" name="duration" id="duration" required placeholder=" " value="{{movie.duration}}" />
    <label for="duration">Duração (minutos)</label>
  </div>
  <input class="btn" type="submit" value="Editar">
</form>